{{template "header"}}

    <title>HT-IOT - 器件信息录入</title>
    <style type="text/css">
     
        #dynamicColumns li {
            float: left;
            margin-left: 10px;
            font-size: medium;
        }

        #dynamicColumns {
            margin: 20px 0px;
            list-style: none;
        }
    
        body {
            padding: 80px 0;
            vertical-align:middle;
            font-size: medium;
            font-family: "Microsoft YaHei", Arial, Helvetical, sans-serif, "宋体";
        }
    </style>

</head>

{{template "navbar" .}}
<body>
    <div class="container-fluid">
        <ul id="dynamicColumns"></ul>
        <button id="rebulidTable">重建</button>
        <hr>
    </div>

    <div class="container-fluid">
        <!--table里不需要写th-->
<!--        <table id="example" class="table table-striped table-bordered" border="1">  -->
                <table id="example" class="display" border="1">
        </table>
    </div>



    <script>
        var sTable;
        var colunmsStr = "runstatus,hospitalname，hospitalzone,hospitalbed,patientname,hospitaldeviceid,puls, oxgen,pressurehigh,pressurelow,longitude,latitude";
        var columsName = {
            "runstatus": "运行状态",            
            "hospitalname": "医院名称",
            "hospitalzone": "病区号",
            "hospitalbed": "病床号",
            "patientname": "姓名",
            "hospitaldeviceid": "终端号",
            "puls": "脉搏",
            "oxgen": "血氧",
            "pressurehigh": "收缩压",
            "pressurelow": "舒张压",
            "longitude":"经度",
            "latitude":"纬度",
    //        "pressure":"血压",
    //        "poistion":"位置",
        };
        
        var status = [
              {"searchable": false, "orderable": false, "targets": 0},//第一行不进行排序和搜索
              {defaultContent: '', targets: ['_all']} //所有列设置默认值为空字符串
            ];

      //      var int = setInterval(createTable(columnsArray), 100);

        $(function () {
            getAllColumnsName();

            $("#rebulidTable").click(function () {
             
                getbuildtable();
   /*        
     */       });
    
        //第一次初始化,加载所有列
            var columns = [
                {"data": "runstatus", "title": columsName["runstatus"]},
                {"data": "hospitalname", "title": columsName["hospitalname"]},
                {"data": "hospitalzone", "title": columsName["hospitalzone"]},
                {"data": "hospitalbed", "title": columsName["hospitalbed"]},
                {"data": "patientname", "title": columsName["patientname"]},
                {"data": "hospitaldeviceid", "title": columsName["hospitaldeviceid"]},
                {"data": "puls", "title": columsName["puls"]},
                {"data": "oxgen", "title": columsName["oxgen"]},
                {"data": "pressurehigh", "title": columsName["pressurehigh"]},
                {"data": "pressurelow", "title": columsName["pressurelow"]},
                {"data": "longitude", "title": columsName["longitude"]},
                {"data": "latitude", "title": columsName["latitude"]},
            ];
            createTable(columns);
 /*           var int0 = setInterval(function () {
               sTable.ajax.reload();
            }, 10000);
 */ //          setInterval(getbuildtable(), 10000);
        });

    function getbuildtable(){
        var columnArr = $("input[name='allColumns']:checked");
                var columnStrIn = "";
                var columnsArray = [];
            
                //动态组装列
                $(columnArr).each(function (i, o) {
                    var json = {data: null, title: null};
                    o = $(o);
                    columnStrIn += o.val();
                    if (i != columnArr.length - 1) {
                        columnStrIn += ",";
                    }
                    json.data = o.val();
                    json.title = columsName[o.val()];
                    columnsArray.push(json);
//                    console.log(json);
                });
                colunmsStr = columnStrIn;
                $("#example").empty();
           
            //改变列的结构，先销毁前面的实例
                sTable.destroy();
                  // 列改变了，需要清空table
                 
    console.log("xxx");                
   //         window.clearInterval(int0);
            createTable(columnsArray);
            console.log("yyy");
/*            int0 = setInterval(function () {
                   table.ajax.reload();
            }, 10000);
 */   }


    function getAllColumnsName(){
            $.ajax({
            type: "get",  
            url: "/api/outhospital",
            dataType:"json",
            complete: function(msg){ 
                var jsonData = eval("("+msg.responseText+")");
             
                for (var i = 0; i < jsonData.length; i++) {
                    var li = jsonData[i][0];
                    var cli = jsonData[i][1]
                    $("#dynamicColumns").append("<li><input type='checkbox' checked name='allColumns' value='" + li + "'/>" + cli + "</li>")
                }
            }
        });
     
    }

    var gridInit = {
           searching: true,
           lengthChange: true,
           paging: true,
           scrollCollapse: true,
           serverSide: false,
           search: true,
           processing: false,
           scrollY: "100%",
           scrollX: "100%",
           scrollXInner: "100%",
           scrollCollapse: false,
           jQueryUI: false,
           autoWidth: true,
           autoSearch: true
       };

    //公共方法，多次初始化调用
    function createTable(columns) {
     
        sTable = $("#example").DataTable({
            ajax: '/api/status',
            dataSrc: 'data',
            //因为需要多次初始化，所以需要设置允许销毁实例
            "destroy": true,
            //列的配置信息通过变量传进来
            "columnDefs": status,//列表状态
            "columns": columns,
            "lengthChange": gridInit.lengthChange,//是否允许用户改变表格每页显示的记录数，默认是开启
            "paging": gridInit.paging,//是否开启本地分页，默认是开启
            "processing": gridInit.processing,//是否显示中文提示
            "scrollCollapse": gridInit.scrollCollapse,  //是否开启DataTables的高度自适应，当数据条数不够分页数据条数的时候，插件高度是否随数据条数而改变
            "serverSide": gridInit.serverSide, //开启服务器模式，默认是关闭
            "scrollY": gridInit.scrollY,//设置高
            "scrollX": gridInit.scrollX,//设置宽度
            "scrollXInner": gridInit.scrollXInner,//设置内宽度
            "scrollCollapse": gridInit.scrollCollapse,//设置折叠
            "jQueryUI": gridInit.jQueryUI,//jquery 风格
            "autoWidth": gridInit.autoWidth, //是否自适应宽度
            "searching":gridInit.searching,

            "language": {
                "lengthMenu": "每页_MENU_ 条记录",
                "zeroRecords": "没有找到记录",
                "info": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
                "infoEmpty": "无记录",
                "search": "搜索：",
                "infoFiltered": "(从 _MAX_ 条记录过滤)",
                "paginate": {
                    "previous": "上一页",
                    "next": "下一页"
                }
            },
            "dom": "<'row'<'col-xs-2'l><'#mytool.col-xs-4'><'col-xs-6'f>r>" +
            "t" +
            "<'row'<'col-xs-6'i><'col-xs-6'p>>"
        });
    }
    </script>
</body>
</html>
