{{template "header"}}

  <title>HT-IOT - 器件信息录入</title>
  <style type="text/css">
     body {
       padding: 50px 0;
       vertical-align:middle
     }
     fieldset{
         color: #333;
         border: #06c, dashed 1px
     }
     legend{
         vertical-align: middle
     }


</style>

</head>

{{template "navbar" .}}

<body> 
    <span class="glyphicon glyphicon-search"></span>
    <form method="Get" action ="/deviceinfo" role = "form" class="form-horizontal"> 
        <fieldset>
            <legend>器件信息查询</legend>
         <div class = "form-group"> 
           <label class="col-sm-1 control-label" for = "name1">医院名称</label> 
            <div class="col-sm-2"> 
  <!--              <input type = "text" class = "form-control"  value = {{.hospital_name_v}} name ="hospital_name"></input> -->
              <input type = "text" id ="name1" value = "{{.hospital_name_v}}"  name ="hospital_name"></input>       
</div> 

            <label class="col-sm-1 control-label" for = "name2">医院器件编号</label> 
            <div class="col-sm-1"> 
                <input type = "number" class = "form-control" id = "name2"  value = "{{.hospitaldeviceid_v}}" name = "hospitaldeviceid"></input> 
            </div> 

            <label class="col-sm-1 control-label" for = "name3">器件编号</label> 
            <div class="col-sm-2"> 
                <input type = "text" class = "form-control" id = "name3"  value = "{{.device_id_v}}" name = "device_id"></input> 
            </div> 

            <label class="col-sm-1 control-label" for = "name4">信道编号</label> 
            <div class="col-sm-2"> 
                <input type = "text" class = "form-control" id = "name4"  value = "{{.channel_id_v}}" name = "channel_id"></input> 
            </div>

            <div class="col-sm-1 "> 
             
             <!--   <button type = "submit" class="btn-info btn-sm">查   询</button> 
                <input type="hidden" name="op" value="Check">  -->
                <input type="submit" name="op" value="Check">   
                
            </div>
        </div> 

        <div class = "form-group"> 
            <label class="col-sm-1 control-label">manufacturer</label> 
            <div class="col-sm-2"> 
                <input type = "text" class = "form-control" id = "manufacturer" value = "{{.manufacturer_v}}" name = "manufacturer"></input> 
            </div> 

            <label class="col-sm-1 control-label">modelnumber </label> 
            <div class="col-sm-1"> 
                <input type = "text" class = "form-control" id = "modelnumber" value = "{{.modelnumber_v}}" name = "modelnumber"></input> 
            </div> 

            <label class="col-sm-1 control-label" for = "name">firmwareVersion</label> 
            <div class="col-sm-2"> 
                <input type = "text" class = "form-control" id = "firmwareversion" value = "{{.firmwareversion_v}}" name = "firmwareversion"></input> 
            </div> 

            <label class="col-sm-1 control-label" for = "name">Devicetype</label> 
            <div class="col-sm-2"> 
                <input type = "text" class = "form-control" id = "devicetype" value = "{{.devicetype_v}}" name = "devicetype"></input> 
            </div> 
        </div>
<
        <div class = "form-group"> 
            <label class="col-sm-1 control-label" for = "name">availablepowersource</label> 
            <div class="col-sm-2"> 
                <input type = "text" class = "form-control" id = "availablepowersource" value = "{{.availablepowersource_v}}" name = "availablepowersource"></input> 
            </div> 

            <label class="col-sm-1 control-label" for = "name">powersourcevoltage</label> 
            <div class="col-sm-1"> 
                <input type = "text" class = "form-control" id = "powersourcevoltage" value = "{{.powersourcevoltage_v}}" name = "powersourcevoltage"></input> 
            </div> 

            <label class="col-sm-1 control-label" for = "name">powersourcesurrent </label> 
            <div class="col-sm-2"> 
                <input type = "text" class = "form-control" id = "powersourcesurrent" value = "{{.powersourcesurrent_v}}" name = "powersourcesurrent"></input> 
            </div> 

            <label class="col-sm-1 control-label" for = "name">batterylevel</label> 
            <div class="col-sm-2"> 
                <input type = "text" class = "form-control" id = "batterylevel" value = "{{.batterylevel_v}}" name = "batterylevel"></input> 
            </div> 
         
        </div> 
	    <div class = "form-group"> 
            <label class="col-sm-1 control-label" for = "name">supportedbindingmodes </label> 
            <div class="col-sm-2"> 
                <input type = "text" class = "form-control" id = "supportedbindingmodes" value = "{{.supportedbindingmodes_v}}" name = "supportedbindingmodes"></input> 
            </div> 

            <label class="col-sm-1 control-label" for = "name">hardwareversion</label> 
            <div class="col-sm-1"> 
                <input type = "text" class = "form-control" id = "hardwareversion" value = "{{.hardwareversion_v}}" name = "hardwareversion"></input> 
            </div> 

            <label class="col-sm-1 control-label" for = "name">softwareversion </label> 
            <div class="col-sm-2"> 
                <input type = "text" class = "form-control" id = "softwareversion" value = "{{.softwareversion_v}}" name = "softwareversion"></input> 
            </div> 
    
            <div class="col-sm-1 col-sm-offset-1"> 
                <input type="submit" name="op" value="Update">
                
            </div>    
        
            <div class="col-sm-1 col-sm-offset-1"> 
                <input type="submit" name="op" value="Merge"> 
                        
            </div>   
           

        </div> 
	 
       </fieldset>
    </form> 
    
   
    <table class="table table-striped", border="2">
      
        <thread>
            <tr>
                <th>医院名称</th>
                <th>医院器件编号</th>   
                <th>器件编号</th> 
                <th>信道编号</th>   
                <th>manufacturer</th> 
                <th>modelnumber</th>   
                <th>DeviceType</th>
                <th>firmwareVersion</th>
                <th>hardwareversion</th>
                <th>softwareversion</th>
                <th>操作</th>
            </tr>    
        </thread>
              
        <tbody>
                {{range $index, $v := .Deviceinfo}}
                 <tr>
                    <td>{{.Hospitalname}} </td> 
                    <td>{{.Hospitaldeviceid}}</td>   
                    <td>{{.Deviceid}}</td> 
                    <td>{{.Channelid}}</td>   
                    <td>{{.Manufacturer}}</td>     
                    <td>{{.Modelnumber}}</td>   
                    <td>{{.Devicetype}}</td>             
                    <td>{{.Firmwareversion}}</td>   
                    <td>{{.Hardwareversion}}</td>     
                    <td>{{.Softwareversion}}</td>   
                    <td>
                        <a href="/deviceinfo?op=Edit&id={{$index}}">编辑</a>
                    </td>
            </tr>
                {{end}}
             
            </tbody>
    </table>
</body>
</html>
