{{template "header"}}

  <title>HT-IOT - 状态信息</title>
  <style type="text/css">
     body {
       padding: 50px 0;
       vertical-align:middle
     }
     fieldset{
         color: #333;
         border: #06c, dashed 1px
     }
     legend{
         vertical-align: middle
     }


</style>

</head>

{{template "navbar" .}}

<body> 
    <span class="glyphicon glyphicon-search"></span>
    <form method="GET" action ="/status" role = "form" class="form-horizontal"> 
        <fieldset>
            <div class = "form-group"> 
            <label class="col-sm-1 control-label" for = "name">医院名称</label> 
            <div class="col-sm-2"> 
                <input type = "text" class = "form-control" id = "name" placeholder = "请医院名称" name = "hospital_name"></input> 
            </div> 
        
            <label class="col-sm-1 control-label" for = "name">病 区 号</label> 
            <div class="col-sm-2"> 
                <input type = "text" class = "form-control" id = "area" placeholder = "请输入病区号" name = "hospital_zone"></input> 
            </div> 

            <label class="col-sm-1 control-label" for = "name">患者姓名</label> 
            <div class="col-sm-2"> 
                <input type = "text" class = "form-control" id = "name" placeholder = "请输入患者姓名" name = "p_name"></input> 
            </div> 
            <div class="col-sm-2 col-sm-offset-1"> 
                    <button type = "submit" class="btn-info btn-sm">查   询</button> 
                </div>    
            </div>             
        </fieldset>
    </form> 
    
   
    <table class="table table-striped", border="2">
      
        <thread>
            <tr>
                <th>病区号</th> 
                <th>病床号</th>   
                <th>姓名</th> 
                <th>终端号</th>
                <th>脉搏</th>
                <th>血压</th>
                <th>血氧</th>
                <th>位置</th>
            </tr>    
        </thread>
              
        <tbody>
        
             {{range $index, $v := .Patients}}
             <tr>
                <td>{{.Hospitalzone}}</td>   
                <td>{{.Hospitalbed}}</td> 
                <td>{{.Patientname}}</td>   
                <td>{{.Hospitaldeviceid}}</td>   
                <td>{{.Puls}}</td>   
                <td>{{.Pressure}}</td>   
                <td>{{.Oxgen}}</td>   
                <td>0</td>
            </tr>
            {{end}}
         
        </tbody>
    </table>
</body>
</html>
