{{template "header"}}

    <title>HT-IOT - 器件信息录入</title>
    <style type="text/css">
     
        #dynamicColumns li {
            float: left;
            margin-left: 10px;
            font-size: medium;
        }

        #dynamicColumns {
            margin: 20px 0px;
            list-style: none;
        }
    
        body {
            padding: 80px 0;
            vertical-align:middle;
            font-size: medium;
            font-family: "Microsoft YaHei", Arial, Helvetical, sans-serif, "宋体";
        }
    </style>
     <script src="/static/js/echarts.js"></script>
     
</head>

{{template "navbar" .}}
<body>
         
        
        <div class="modal fade" id="recordModal" tabindex="-1" role="dialog" aria-labelledby="recordModalLabel">  
            <div class="modal-dialog  modal-md" role="document">  
                <div class="modal-content">  
                    <div class="modal-header">  
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span  
                            aria-hidden="true">×</span></button>  
                        <h4 class="modal-title" id="statusModalLabel">记录浏览</h4>  
                    </div>  
                    <div class="modal-body">  
                        
                    </div>     
                    <div class="modal-footer">  
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>  
<!---                        <button type="button" class="btn btn-primary" onclick="update()">保存</button>  -->
                    </div>  
                </div>  
            </div>  
        </div>  



        <div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="statusModalLabel">  
                <div class="modal-dialog  modal-md" role="document">  
                    <div class="modal-content">  
                        <div class="modal-header">  
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span  
                                aria-hidden="true">×</span></button>  
                            <h4 class="modal-title" id="statusModalLabel">告警参数设置</h4>  
                        </div>  
                        <div class="modal-body">  
                            
                            <h3 class = "text-center" >体征参数设置</h3> <br>
                             <table class="formdata"> 
                                    <tr > 
                                        <th class="col-sm-2 col-md-offset-2"></th>
                                        <th align="center" scope="col" class="col-sm-3 "></th> 
                                        <th scope="col" class="col-sm-3"></th> 
                                    </tr> 
                                <tr> 
                                    <th scope="row" class="col-sm-2 col-md-offset-2 text-right">病区号:</th> 
                                    <td><input type="text" name="hospital_zone" id="hospital_zone"/></td> 
                                    <td></td>
                                </tr> 
                            </table> 
                            <br> 
                            <p></p>    
                            
                            <table class="formdata"> 
                                <tr > 
                                    <th class="col-sm-2 col-md-offset-2"></th>
                                    <th align="center" scope="col" class="col-sm-3 ">下限</th> 
                                    <th scope="col" class="col-sm-3">上限</th> 
                                </tr> 
                                <tr> 
                                    <th scope="row" class="col-sm-2 col-md-offset-2  text-right">脉搏：</th> 
                                    <td><input type="number" name="puls_min" id="puls_min"/></td> 
                                    <td><input type="number" name="puls_max" id="puls_max"/></td> 
                                </tr> 
                                <tr> 
                                    <th scope="row"  class="col-sm-2 col-md-offset-2  text-right">血氧：</th> 
                                    <td><input type="number" name="oxgen_min" id="oxgen_min"/></td> 
                                    <td><input type="number" name="oxgen_max" id="oxgen_max"/></td> 
                                </tr> 
                                <tr> 
                                    <th scope="row" class="col-sm-2 col-md-offset-2 text-right">舒张压：</th> 
                                    <td><input type="number" name="pressurelow_min" id="pressurelow_min"/></td> 
                                    <td><input type="number" name="pressurelow_max" id="pressurelow_max"/></td> 
                                </tr> 
                                <tr> 
                                    <th scope="row" class="col-sm-2 col-md-offset-2  text-right">收缩压：</th> 
                                    <td><input type="number" name="pressurehigh_min" id="pressurehigh_min"/></td> 
                                    <td><input type="number" name="pressurehigh_max" id="pressurehigh_max"/></td> 
                                </tr> 
                            </table> 
                            <br> 
                            <p></p> 

                            <table class="formdata"> 
                                <h3 class = "text-center" >位置参数设置</h3> <br>
                                <tr> 
                                    <th class="col-sm-2 col-md-offset-2"></th>
                                    <th scope="col" class="col-sm-3">中心点地址</th> 
                                    <th scope="col" class="col-sm-3">限制半径</th>
                                </tr> 
                                <tr> 
                                    <th scope="row"  class="col-sm-2 col-md-offset-2  text-right">位置：</th> 
                                    <td><input type="text" name="monitor_address" id="monitor_address"/></td> 
                                    <td><input type="number" name="monitor_radius" id="monitor_radius"/></td> 
                                </tr> 
                            </table> 
                             <br><br><br>
                     
                        </div>  
                        <div class="modal-footer">  
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>  
                            <button type="button" class="btn btn-primary" onclick="update()">保存</button>  
                        </div>  
                    </div>  
                </div>  
            </div>  
   
    <div class="container-fluid" >
        <div id="container-urgent"  style="width: 100%; height: 150px;" ></div>
    <!--    <div id="container-detach"  style="width: 200px; height: 150px; float: left"></div>
        <div id="container-puls"    style="width: 200px; height: 150px; float: left"></div>
        <div id="container-oxgen"   style="width: 200px; height: 150px; float: left"></div>
        -->

    </div>

    <div class="container-fluid">
            <ul id="dynamicColumns"></ul>
            <button id="rebulidTable">   重建</button>
            <br><br>
            <table id="example" class="display" border="1">    </table>
    </div>

    <script>
        var table;
        var int0;
        var Totalpatien, Totaloxgen, Totalpuls,Totalurgent,Totaluses,Totalunuses,Totalpress;               

        var hospitalconfig = {
            "hospitalname":"",
            "hospitalzone":"",
            "pulsmin":50,
            "pulsmax":120,
            "oxgenmin":90,
            "oxgenmax":110,
            "pressurelowmin":50,
            "pressurelowmax":120,
            "pressurehighmin":70,
            "pressurehighmax":200,
            "monitoraddress":"",
            "monitorradius":9999999
        };

        var colunmsStr = "runstatus,hospitalname，hospitalzone,hospitalbed,patientname,hospitaldeviceid,puls, oxgen,pressurehigh,pressurelow,longitude,latitude,ops";
        var columsName = {
            "runstatus": "运行状态",            
            "hospitalname": "医院名称",
            "hospitalzone": "病区号",
            "hospitalbed": "病床号",
            "patientname": "姓名",
            "hospitaldeviceid": "终端号",
            "puls": "脉搏",
            "oxgen": "血氧",
            "pressurehigh": "收缩压",
            "pressurelow": "舒张压",
            "longitude":"经度",
            "latitude":"纬度",
            "ops":"操作",
          };

          var  createdCellName = {
            "runstatus": (function(td, cellData, rowData, row, col){
                if (((rowData.hospitalbed != '')&&(rowData.patientname != '')) &&
                    ((rowData.puls >= hospitalconfig.pulsmax)||(rowData.puls <= hospitalconfig.pulsmin) ||
                    (rowData.oxgen >= hospitalconfig.oxgenmax)||(rowData.oxgen <= hospitalconfig.oxgenmin) ||
                    (rowData.pressurehigh >= hospitalconfig.pressurehighmax)||(rowData.pressurehigh <= hospitalconfig.pressurehighmin)||
                    (rowData.pressurelow >= hospitalconfig.pressurelowmax)||(rowData.pressurelow <= hospitalconfig.Pressurelowmin)))
                {          
                    $(td).html('离线');
//                    $(td).parents().css('background-color', 'pink'); 
                    $(td).css('background-color', 'pink');};
                }),
            "hospitalname": (function(td, cellData, rowData, row, col){
                if (((rowData.hospitalbed != '')&&(rowData.patientname != '')) &&
                    ((rowData.puls >= hospitalconfig.pulsmax)||(rowData.puls <= hospitalconfig.pulsmin) ||
                    (rowData.oxgen >= hospitalconfig.oxgenmax)||(rowData.oxgen <= hospitalconfig.oxgenmin) ||
                    (rowData.pressurehigh >= hospitalconfig.pressurehighmax)||(rowData.pressurehigh <= hospitalconfig.pressurehighmin)||
                    (rowData.pressurelow >= hospitalconfig.pressurelowmax)||(rowData.pressurelow <= hospitalconfig.Pressurelowmin)))
                {          
                    $(td).css('background-color', 'pink');};
                }),
            "hospitalzone": (function(td, cellData, rowData, row, col){
                if (((rowData.hospitalbed != '')&&(rowData.patientname != '')) &&
                    ((rowData.puls >= hospitalconfig.pulsmax)||(rowData.puls <= hospitalconfig.pulsmin) ||
                    (rowData.oxgen >= hospitalconfig.oxgenmax)||(rowData.oxgen <= hospitalconfig.oxgenmin) ||
                    (rowData.pressurehigh >= hospitalconfig.pressurehighmax)||(rowData.pressurehigh <= hospitalconfig.pressurehighmin)||
                    (rowData.pressurelow >= hospitalconfig.pressurelowmax)||(rowData.pressurelow <= hospitalconfig.Pressurelowmin)))
                {          
                    $(td).css('background-color', 'pink');};
                }),
           
            "hospitalbed": (function(td, cellData, rowData, row, col){
                if (((rowData.hospitalbed != '')&&(rowData.patientname != '')) &&
                    ((rowData.puls >= hospitalconfig.pulsmax)||(rowData.puls <= hospitalconfig.pulsmin) ||
                    (rowData.oxgen >= hospitalconfig.oxgenmax)||(rowData.oxgen <= hospitalconfig.oxgenmin) ||
                    (rowData.pressurehigh >= hospitalconfig.pressurehighmax)||(rowData.pressurehigh <= hospitalconfig.pressurehighmin)||
                    (rowData.pressurelow >= hospitalconfig.pressurelowmax)||(rowData.pressurelow <= hospitalconfig.Pressurelowmin)))
                {          
                    $(td).css('background-color', 'pink');};
                }),

            "patientname": (function(td, cellData, rowData, row, col){
                if (((rowData.hospitalbed != '')&&(rowData.patientname != '')) &&
                    ((rowData.puls >= hospitalconfig.pulsmax)||(rowData.puls <= hospitalconfig.pulsmin) ||
                    (rowData.oxgen >= hospitalconfig.oxgenmax)||(rowData.oxgen <= hospitalconfig.oxgenmin) ||
                    (rowData.pressurehigh >= hospitalconfig.pressurehighmax)||(rowData.pressurehigh <= hospitalconfig.pressurehighmin)||
                    (rowData.pressurelow >= hospitalconfig.pressurelowmax)||(rowData.pressurelow <= hospitalconfig.Pressurelowmin)))
                {          
                    $(td).css('background-color', 'pink');};
                }),
            
            "hospitaldeviceid": (function(td, cellData, rowData, row, col){
                if (((rowData.hospitalbed != '')&&(rowData.patientname != '')) &&
                    ((rowData.puls >= hospitalconfig.pulsmax)||(rowData.puls <= hospitalconfig.pulsmin) ||
                    (rowData.oxgen >= hospitalconfig.oxgenmax)||(rowData.oxgen <= hospitalconfig.oxgenmin) ||
                    (rowData.pressurehigh >= hospitalconfig.pressurehighmax)||(rowData.pressurehigh <= hospitalconfig.pressurehighmin)||
                    (rowData.pressurelow >= hospitalconfig.pressurelowmax)||(rowData.pressurelow <= hospitalconfig.Pressurelowmin)))
                {          
                    $(td).css('background-color', 'pink');};
                }),
            
            "puls": (function(td, cellData, rowData, row, col){
                if (rowData.puls >= hospitalconfig.pulsmax){
                    $(td).css('background-color', 'red');};
                if (rowData.puls <= hospitalconfig.pulsmin){
                    $(td).css('background-color', 'yellow');};
                }),
            "oxgen":(function(td, cellData, rowData, row, col){
                if (rowData.oxgen >= hospitalconfig.oxgenmax){
                    $(td).css('background-color', 'red');};
                if (rowData.oxgen <= hospitalconfig.oxgenmin){
                    $(td).css('background-color', 'yellow');};
                }),
            "pressurehigh":(function(td, cellData, rowData, row, col){
                if (rowData.pressurehigh >= hospitalconfig.pressurehighmax){
                    $(td).css('background-color', 'red');};
                if (rowData.pressurehigh <= hospitalconfig.pressurehighmin){
                    $(td).css('background-color', 'yellow');};
            }),

            "pressurelow":(function(td, cellData, rowData, row, col){
                if (rowData.pressurelow >= hospitalconfig.pressurelowmax){
                    $(td).css('background-color', 'red');};
                if (rowData.pressurelow <= hospitalconfig.Pressurelowmin){
                    $(td).css('background-color', 'yellow');};
            }),
            "longitude":(function(td, cellData, rowData, row, col){}),
            "latitude":(function(td, cellData, rowData, row, col){}),
            "ops":(function(td, cellData, rowData, row, col){
                $(td).html("<button type='button' data-toggle='modal' id='record1' data-target='#recordModal' data-whatever="+ cellData +">当天记录</button>" +
                "<button type='button' id='record5' onclick='button2(" + row + "," + col + ")'>五天记录</button>")
            }),
          };
 
        var status = [
              {"searchable": false, "orderable": false, "targets": 0},//第一行不进行排序和搜索
              {defaultContent: '', targets: ['_all']} //所有列设置默认值为空字符串
            ];

        $(function () {
            getHospitalconfig();
            getAllColumnsName();
   
 //第一次初始化,加载所有列
            var columns = [
                {"data": "runstatus", "title": columsName["runstatus"],"createdCell":createdCellName["runstatus"]},
                {"data": "hospitalname", "title": columsName["hospitalname"],"createdCell":createdCellName["hospitalname"]},
                {"data": "hospitalzone", "title": columsName["hospitalzone"],"createdCell":createdCellName["hospitalzone"]},
                {"data": "hospitalbed", "title": columsName["hospitalbed"],"createdCell":createdCellName["hospitalbed"]},
                {"data": "patientname", "title": columsName["patientname"],"createdCell":createdCellName["patientname"]},
                {"data": "hospitaldeviceid", "title": columsName["hospitaldeviceid"],"createdCell":createdCellName["hospitaldeviceid"]},
                {"data": "puls", "title": columsName["puls"],"createdCell":createdCellName["puls"]},
                {"data": "oxgen", "title": columsName["oxgen"],"createdCell":createdCellName["oxgen"]},
                {"data": "pressurehigh", "title": columsName["pressurehigh"],"createdCell":createdCellName["pressurehigh"]},
                {"data": "pressurelow", "title": columsName["pressurelow"],"createdCell":createdCellName["pressurehigh"]},
                {"data": "longitude", "title": columsName["longitude"],"createdCell":createdCellName["longitude"]},
                {"data": "latitude", "title": columsName["latitude"],"createdCell":createdCellName["latitude"]},
                {"data": "ops", "title": columsName["ops"],"createdCell":createdCellName["ops"]},
            ];

            table = createTable(columns);
            chartdiagram();
            $("#rebulidTable").click(function () {
                    getbuildtable();
            });
         
            int0 = setInterval(function () {
                chartdiagram();
                table.ajax.reload();
            }, 100000);
         });


        function getbuildtable(){
            var columnArr = $("input[name='allColumns']:checked");
            var columnStrIn = "";
            var columnsArray = [];
            
                //动态组装列
            $(columnArr).each(function (i, o) {
                var json = {data: null, title: null, createdCell:null};
                o = $(o);
                columnStrIn += o.val();
                if (i != columnArr.length - 1) {
                    columnStrIn += ",";
                }
                json.data = o.val();
                json.title = columsName[o.val()];
                json.createdCell = createdCellName[o.val()];
                columnsArray.push(json);
            });
            colunmsStr = columnStrIn;
               
            //改变列的结构，先销毁前面的实例
            table.destroy();
            // 列改变了，需要清空table
            $("#example").empty();
            table = createTable(columnsArray);
        };

    function getAllColumnsName(){
            $.ajax({
            type: "post",  
            url: "/api/status",
            dataType:"json",
            complete: function(msg){ 
                var jsonData = eval("("+msg.responseText+")");
             
                for (var i = 0; i < jsonData.length; i++) {
                    var li = jsonData[i][0];
                    var cli = jsonData[i][1]
                    $("#dynamicColumns").append("<li><input type='checkbox' checked name='allColumns' value='" + li + "'/>" + cli + "</li>")
                }
            }
        });
    }

    function  getHospitalconfig(){
        $.ajax({
            type: "get",  
            url: "/info/status",
            dataType:"json",
            complete: function(msg){ 
                var jsonData = eval("("+msg.responseText+")");
                    hospitalconfig = jsonData;
           }
       });
    }

    var gridInit = {
           searching: true,
           lengthChange: true,
           paging: true,
           scrollCollapse: true,
           serverSide: false,
           search: true,
           processing: false,
           scrollY: "100%",
           scrollX: "100%",
           scrollXInner: "100%",
           scrollCollapse: false,
           jQueryUI: false,
           autoWidth: true,
           autoSearch: true
       };
 
    //公共方法，多次初始化调用
    function createTable(columns) {
//        console.log("xxx=",columns);
        return $("#example").DataTable({
                "ajax":{
                    url: '/api/status',
                    type: "get",  
                    dataType:"json",
                    dataSrc: "data",
//                    function(msg){ 
//                                                return msg.data;
//                }
                },
            //因为需要多次初始化，所以需要设置允许销毁实例
            "destroy": true,
            //列的配置信息通过变量传进来
            "columnDefs": status,//列表状态
            "columns": columns,
            "lengthChange": gridInit.lengthChange,//是否允许用户改变表格每页显示的记录数，默认是开启
            "paging": gridInit.paging,//是否开启本地分页，默认是开启
            "processing": gridInit.processing,//是否显示中文提示
            "scrollCollapse": gridInit.scrollCollapse,  //是否开启DataTables的高度自适应，当数据条数不够分页数据条数的时候，插件高度是否随数据条数而改变
            "serverSide": gridInit.serverSide, //开启服务器模式，默认是关闭
            "scrollY": gridInit.scrollY,//设置高
            "scrollX": gridInit.scrollX,//设置宽度
            "scrollXInner": gridInit.scrollXInner,//设置内宽度
            "scrollCollapse": gridInit.scrollCollapse,//设置折叠
            "jQueryUI": gridInit.jQueryUI,//jquery 风格
            "autoWidth": gridInit.autoWidth, //是否自适应宽度
            "searching":gridInit.searching,

            "language": {
                "lengthMenu": "每页_MENU_ 条记录",
                "zeroRecords": "没有找到记录",
                "info": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
                "infoEmpty": "无记录",
                "search": "搜索：",
                "infoFiltered": "(从 _MAX_ 条记录过滤)",
                "paginate": {
                    "previous": "上一页",
                    "next": "下一页"
                }
            },
            "dom": "<'row'<'#mytool.col-sm-2'><'col-sm-4'l><'col-sm-6 text-right'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
            "initComplete": function (msg) {
                $("#mytool").append('<button type="button"  class="btn btn-primary" id="reload" data-toggle="modal" data-target="#statusModal">告警设置</button>'); 
//                console.log(msg);
            }
          
        });
    }

    $('#statusModal').on('show.bs.modal', function (event) {  
        var modal = $(this);
        modal.find('.modal-title').text(hospitalconfig.hospitalname + ' ' + ' 患者告警信息');
        modal.find('.modal-body #puls_min').val(hospitalconfig.hospitalzone);
  
        modal.find('.modal-body #puls_min').val(hospitalconfig.pulsmin);
        modal.find('.modal-body #puls_max').val(hospitalconfig.pulsmax); 

        modal.find('.modal-body #oxgen_min').val(hospitalconfig.oxgenmin);
        modal.find('.modal-body #oxgen_max').val(hospitalconfig.oxgenmax); 

        modal.find('.modal-body #pressurelow_min').val(hospitalconfig.pressurelowmin);
        modal.find('.modal-body #pressurelow_max').val(hospitalconfig.pressurelowmax); 

        modal.find('.modal-body #pressurehigh_min').val(hospitalconfig.pressurehighmin);
        modal.find('.modal-body #pressurehigh_max').val(hospitalconfig.pressurehighmax); 

        modal.find('.modal-body #monitor_address').val(hospitalconfig.monitoraddress);
        modal.find('.modal-body #monitor_radius').val(hospitalconfig.monitorradius); 
        
    });


    function update() {  
    
        var modal = $(this);
  
        hospitalconfig.hospitalzone = $('.modal-body #hospital_zone').val();
        hospitalconfig.pulsmin = $('.modal-body #puls_min').val();
        hospitalconfig.pulsmax = $('.modal-body #puls_max').val(); 

        hospitalconfig.oxgenmin = $('.modal-body #oxgen_min').val();
        hospitalconfig.oxgenmax = $('.modal-body #oxgen_max').val(); 

        hospitalconfig.pressurelowmin = $('.modal-body #pressurelow_min').val();
        hospitalconfig.pressurelowmax = $('.modal-body #pressurelow_max').val(); 

        hospitalconfig.pressurehighmin = $('.modal-body #pressurehigh_min').val();
        hospitalconfig.pressurehighmax = $('.modal-body #pressurehigh_max').val(); 

        hospitalconfig.monitoraddress = $('.modal-body #monitor_address').val();
        hospitalconfig.monitorradius = $('.modal-body #monitor_radius').val(); 
 
        console.log(hospitalconfig);
        $.ajax({  
            type: "post",  
            url: "/info/status", 
            dataType:"json",
            data: {
                Hospitalname:hospitalconfig.hospitalname,
                Hospitalzone:hospitalconfig.hospitalzone,
                Pulsmin:hospitalconfig.pulsmin,
                Pulsmax:hospitalconfig.pulsmax,
                Oxgenmin:hospitalconfig.oxgenmin,
                Oxgenmax:hospitalconfig.oxgenmax,
            
                Pressurelowmin:hospitalconfig.pressurelowmin,
                Pressurelowmax:hospitalconfig.pressurelowmax,
                Pressurehighmin:hospitalconfig.pressurehighmin,
                Pressurehighmax:hospitalconfig.pressurehighmax,

                Monitoraddress:hospitalconfig.monitoraddress,
                Monitorradius:hospitalconfig.monitorradius,
            }, 
            complete: function(msg){ 
                var jsonData = eval("("+msg.responseText+")");
                console.log(jsonData.succ);    
                alert(jsonData.info);
            }  
        }); 
     
        $('#statusModal').modal('hide');
        reload();
    };
///////////////////////////////////
function chartdiagram(){
 
    $.ajax({  
            type: "get",  
            url: "/warn/status", 
            dataType:"json",
            complete: function(msg){ 
                var jsonData = eval("("+msg.responseText+")");
                Totalpatient = jsonData.totalpatient;
                Totaloxgen = jsonData.totaloxgen;
                Totalpuls = jsonData.totalpuls;
                Totalurgent = jsonData.totalurgent;
                Totaluses = jsonData.totaluses;
                Totalunuses = jsonData.totalunuses;
                Totalpress = jsonData.totalpress;
                console.log("jsonData=",jsonData);
                diagram();
            }  
        }); 
}


    var myChart = echarts.init(document.getElementById('container-urgent'));
    /*
    myChart.option = {
        legend: {},
        tooltip: {},
        dataset: {
            source: [
                ['product', '2012', '2013', '2014', '2015', '2016', '2017'],
                ['Matcha Latte', 41.1, 30.4, 65.1, 53.3, 83.8, 98.7],
                ['Milk Tea', 86.5, 92.1, 85.7, 83.1, 73.4, 55.1],
                ['Cheese Cocoa', 24.1, 67.2, 79.5, 86.4, 65.2, 82.5],
                ['Walnut Brownie', 55.2, 67.1, 69.2, 72.4, 53.9, 39.1]
            ]
        },
   
    title: [{
        text: '在线构建',
        subtext: '总计 ' ,
        x: '15%',
        y: '15%',
        textAlign: 'center'
    }, {
        text: '各版本下载',
       
        x: '40%',
        textAlign: 'center'
    }, {
        text: '主题下载',
      
        x: '60%',
        y: '15%',
        textAlign: 'center'
    }],
    
    series:    [
                {
        type: 'pie',
        radius: ['10%', '20%'],
        center: ['20%', '50%'],
        color: ['#00FF00','#FF0000','#000000','#0000FF'],
        label: {
                normal: {
                    show: false,
                    position: 'inner'
                    },
                    emphasis: {
                        show: true,
                        textStyle: {
                            fontSize: '14',
                            fontWeight: 'bold'
                        }
                    }
                },
        // No encode specified, by default, it is '2012'.
    }, {
        type: 'pie',
        radius: ['10%', '20%'],
        center: ['40%', '50%'],
          label: {
                normal: {
                    show: false,
                    position: 'inner'
                    },
                    emphasis: {
                        show: true,
                        textStyle: {
                            fontSize: '14',
                            fontWeight: 'bold'
                        }
                    }
                },
        encode: {
        itemName: 'product',
        value: '2013'
        }
    }, {
        type: 'pie',
        radius: 30,
        center: ['60%', '30%'],
        encode: {
            itemName: 'product',
            value: '2014'
        }
    }, {
        type: 'pie',
        radius: 30,
        center: ['80%', '30%'],
        encode: {
            itemName: 'product',
            value: '2015'
        }
    }]
};


*/

    myChart.setOption({
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b}: {c} ({d}%)"
        },
      });

    function diagram(){
     
        myChart.setOption({
            title: [{
                    text: '总数',
                    itemGap:50,
                    subtext: Totalpatient.toFixed(0),
                    x: '15%',
                    y:8,
                    textAlign: 'center',
                    subtextStyle:{ fontSize:18 ,
                    color:"#000000",
                    fontWeight: 'bold',} 
                }, {
                    text: '异常总数',
                    subtext: Totalurgent.toFixed(0),
                    x: '30%',
                    y:8,
                    textAlign: 'center',
                    itemGap:50,
                    subtextStyle:{ fontSize:18 ,
                    color:"#000000",
                    fontWeight: 'bold',} 
                }, {
                    text: '使用总数\n(正作vs非正作)',
                    subtext: Totaluses.toFixed(0),
                    x: '45%',
                    textAlign: 'center',
                    itemGap:45,
                    subtextStyle:{ fontSize:18 ,
                    color:"#000000",
                    fontWeight: 'bold',} 
                
                },  {
                    text: '脉搏\n(正常vs非正常)',
                    subtext: Totalpuls.toFixed(0),
                    x: '60%',
                    textAlign: 'center',
                    itemGap:45,
                    subtextStyle:{ fontSize:18 ,
                    color:"#000000",
                    fontWeight: 'bold',} 
                },{
                    text: '血氧\n(正常vs非正常)',
                    x: '75%',
                    subtext: Totaloxgen.toFixed(0),
                    textAlign: 'center',
                    itemGap:45,
                    subtextStyle:{ fontSize:18 ,
                    color:"#000000",
                    fontWeight: 'bold',} 
                 
                }, {
                    text: '血压\n(正常vs非正常)',
                    x: '90%',
                    subtext: Totalpress.toFixed(0),
                    textAlign: 'center',
                    itemGap:45,
                    subtextStyle:{ fontSize:18 ,
                    color:"#000000",
                    fontWeight: 'bold',} 
                }, 
            ],
        
         
             series: [
                 {
                // 根据名字对应到相应的系列
                    name:'总数',
                    type:'pie',
                    radius: ['30%', '50%'],
                    center: ['15%', '60%'],
                     avoidLabelOverlap: false,
                    color: ['#00FF00','#FF0000'],

                    label: {
                        normal: {
                        show: false,
                        position: 'inner'
                    },
                    emphasis: {
                        show: true,
                        textStyle: {
                            fontSize: '16',
                            fontWeight: 'bold'
                        }
                    }
                },
                data:[
                    {value:Totalpatient, name:'总器件数'},
                    {value:0},
                ]
            },
            {
                // 根据名字对应到相应的系列
                    name:'异常总数',
                    type:'pie',
                    radius: ['30%', '50%'],
                    center: ['30%', '60%'],
                    avoidLabelOverlap: false,
                    color: ['#FF0000','#00FF00'],
                    label: {
                        normal: {
                        show: false,
                        position: 'inner'
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: '16',
                                fontWeight: 'bold'
                            }
                        },
                    },
                data:[
                    {value:Totalurgent, name:'异常', selected:true},
                    {value:(Totalpatient-Totalurgent), name:'正常'},
                ]
            }, {
                // 根据名字对应到相应的系列
                    name:'工作状态',
                    type:'pie',
                    radius: ['30%', '50%'],
                    center: ['45%', '60%'],
                    avoidLabelOverlap: false,
                    color: ['#00FF00','#FF0000'],
                    label: {
                        normal: {
                        show: false,
                        position: 'inner'
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: '16',
                                fontWeight: 'bold'
                            }
                        },
                    },
                data:[
                    {value:Totaluses, name:'工作', selected:true},
                    {value:Totalunuses, name:'非工作'},
                ]
            }, {
                // 根据名字对应到相应的系列
                    name:'脉搏状态',
                    type:'pie',
                    radius: ['30%', '50%'],
                    center: ['60%', '60%'],
                    avoidLabelOverlap: false,
                    color: ['#00FF00','#FF0000'],
                    label: {
                        normal: {
                        show: false,
                        position: 'inner'
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: '16',
                                fontWeight: 'bold'
                            }
                        },
                    },
                data:[
                    {value:Totaluses, name:'工作', selected:true},
                    {value:Totalunuses, name:'非工作'},
                ]
            },
            {
                // 根据名字对应到相应的系列
                    name:'血氧状态',
                    type:'pie',
                    radius: ['30%', '50%'],
                    center: ['75%', '60%'],
                    avoidLabelOverlap: false,
                    color: ['#00FF00','#FF0000'],
                    label: {
                        normal: {
                        show: false,
                        position: 'inner'
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: '16',
                                fontWeight: 'bold'
                            }
                        },
                    },
                data:[
                    {value:Totaluses, name:'工作', selected:true},
                    {value:Totalunuses, name:'非工作'},
                ]
            },
            {
                // 根据名字对应到相应的系列
                    name:'血压状态',
                    type:'pie',
                    radius: ['30%', '50%'],
                    center: ['90%', '60%'],
                    avoidLabelOverlap: false,
                    color: ['#00FF00','#FF0000'],
                    label: {
                        normal: {
                        show: false,
                        position: 'inner'
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: '16',
                                fontWeight: 'bold'
                            }
                        },
                    },
                data:[
                    {value:Totaluses, name:'工作', selected:true},
                    {value:Totalunuses, name:'非工作'},
                ]
            },
            ]  
    });
}


//5days record
function button2(row, col) {  
    $('#recordModal').on('show.bs.modal', function (event) {

    });
};


$('#recordl').on('show.bs.modal', function (event) {

});

$('#record2').on('show.bs.modal', function (event) {

});
//1days record

//$(td).html("<button type='button' data-toggle='modal' id='record1' data-target='#recordModal' data-whatever="+ cellData +">当天记录</button>" +
//                "<button type='button' id='record5' onclick='button2(" + row + "," + col + ")'>五天记录</button>")

/////////////////////////////////
    </script>
</body>
</html>
