{{template "header"}}

    <title>HT-IOT - 器件信息录入</title>
    <style type="text/css">
     
        #dynamicColumns li {
            float: left;
            margin-left: 10px;
            font-size: medium;
        }

        #dynamicColumns {
            margin: 20px 0px;
            list-style: none;
        }
    
        body {
            padding: 80px 0;
            vertical-align:middle;
            font-size: medium;
            font-family: "Microsoft YaHei", Arial, Helvetical, sans-serif, "宋体";
        }
    </style>

</head>

{{template "navbar" .}}
<body>
        <div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="statusModalLabel">  
                <div class="modal-dialog  modal-md" role="document">  
                    <div class="modal-content">  
                        <div class="modal-header">  
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span  
                                aria-hidden="true">×</span></button>  
                            <h4 class="modal-title" id="statusModalLabel">告警参数设置</h4>  
                        </div>  
                        <div class="modal-body">  
                            
                            <h3 class = "text-center" >体征参数设置</h3> <br>
                            <table class="formdata"> 
                                <tr > 
                                    <th class="col-sm-2 col-md-offset-2"></th>
                                    <th align="center"scope="col" class="col-sm-3 ">下限</th> 
                                    <th scope="col" class="col-sm-3">上限</th> 
                                </tr> 
                            <tr> 
                                <th scope="row" class="col-sm-2 col-md-offset-2  text-right">脉搏：</th> 
                                    <td><input type="number" name="puls_min" id="puls_min"/></td> 
                                    <td><input type="number" name="puls_max" id="puls_max"/></td> 
                            </tr> 
                            <tr> 
                                <th scope="row"  class="col-sm-2 col-md-offset-2  text-right">血氧：</th> 
                                    <td><input type="number" name="oxgen_min" id="oxgen_min"/></td> 
                                    <td><input type="number" name="oxgen_max" id="oxgen_max"/></td> 
                            </tr> 
                            <tr> 
                                <th scope="row" class="col-sm-2 col-md-offset-2 text-right">舒张压：</th> 
                                    <td><input type="number" name="pressurelow_min" id="pressurelow_min"/></td> 
                                    <td><input type="number" name="pressurelow_max" id="pressurelow_max"/></td> 
                            </tr> 
                            <tr> 
                                <th scope="row" class="col-sm-2 col-md-offset-2  text-right">收缩压：</th> 
                                    <td><input type="number" name="pressurehigh_min" id="pressurehigh_min"/></td> 
                                    <td><input type="number" name="pressurehigh_max" id="pressurehigh_max"/></td> 
                            </tr> 
                        </table> 

                        <br> 
                        <p></p> 

                        <table class="formdata"> 
                            <h3 class = "text-center" >位置参数设置</h3> <br>
                            <tr> 
                                <th class="col-sm-2 col-md-offset-2"></th>
                                <th scope="col" class="col-sm-3">中心点地址</th> 
                                <th scope="col" class="col-sm-3">限制半径</th>
                            </tr> 
                            <tr> 
                                <th scope="row"  class="col-sm-2 col-md-offset-2  text-right">位置：</th> 
                                <td><input type="text" name="monitor_address" id="monitor_address"/></td> 
                                <td><input type="number" name="monitor_radius" id="monitor_radius"/></td> 
                            </tr> 
                        </table> 
                             <hr><br><br> <br>
                     
                        </div>  
                        <div class="modal-footer">  
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>  
                            <button type="button" class="btn btn-primary" onclick="update()">保存</button>  
                        </div>  
                    </div>  
                </div>  
            </div>  
   
    <div class="container-fluid">
 
    </div>

    <div class="container-fluid">

            <ul id="dynamicColumns"></ul>
            <button id="rebulidTable">   重建</button>
            <br><br>
        <!--table里不需要写th-->
<!--        <table id="example" class="table table-striped table-bordered" border="1">  -->
                <table id="example" class="display" border="1">
        </table>
    </div>

    <script>
        var table;
        var int0;
        var colunmsStr = "runstatus,hospitalname，hospitalzone,hospitalbed,patientname,hospitaldeviceid,puls, oxgen,pressurehigh,pressurelow,longitude,latitude";
        var columsName = {
            "runstatus": "运行状态",            
            "hospitalname": "医院名称",
            "hospitalzone": "病区号",
            "hospitalbed": "病床号",
            "patientname": "姓名",
            "hospitaldeviceid": "终端号",
            "puls": "脉搏",
            "oxgen": "血氧",
            "pressurehigh": "收缩压",
            "pressurelow": "舒张压",
            "longitude":"经度",
            "latitude":"纬度",
          };

          var  createdCellName = {
            "runstatus": (function(td, cellData, rowData, row, col){
                if (rowData.hospitalbed == '124' ){
                    $(td).html('离线');
                    $(td).parents().css('background-color', 'blue'); 
                    $(td).css('background-color', 'blue');};
                    }),
            "hospitalname": (function(td, cellData, rowData, row, col){}),
            "hospitalzone": (function(td, cellData, rowData, row, col){}),
            "hospitalbed": (function(td, cellData, rowData, row, col){}),
            "patientname": (function(td, cellData, rowData, row, col){}),
            "hospitaldeviceid": (function(td, cellData, rowData, row, col){}),
            "puls": (function(td, cellData, rowData, row, col){}),
            "oxgen":(function(td, cellData, rowData, row, col){}),
            "pressurehigh":(function(td, cellData, rowData, row, col){}),
            "pressurelow":(function(td, cellData, rowData, row, col){}),
            "longitude":(function(td, cellData, rowData, row, col){}),
            "latitude":(function(td, cellData, rowData, row, col){}),
          };
      

        var status = [
              {"searchable": false, "orderable": false, "targets": 0},//第一行不进行排序和搜索
              {defaultContent: '', targets: ['_all']} //所有列设置默认值为空字符串
            ];

        $(function () {
            getAllColumnsName();
 //第一次初始化,加载所有列
/*            var columns = [
                {"data": "runstatus", "title": columsName["runstatus"],  "createdCell": function (td, cellData, rowData, row, col) {
                     console.log(cellData);
                     if ( rowData.hospitalbed == "124" ){ 
                        cellData = "Run"; $(td).parents().css('background-color', 'blue'); $(td).css('background-color', 'blue');
                        };
                    }},
                {"data": "hospitalname", "title": columsName["hospitalname"]},
                {"data": "hospitalzone", "title": columsName["hospitalzone"]},
                {"data": "hospitalbed", "title": columsName["hospitalbed"]},
                {"data": "patientname", "title": columsName["patientname"]},
                {"data": "hospitaldeviceid", "title": columsName["hospitaldeviceid"]},
                {"data": "puls", "title": columsName["puls"]},
                {"data": "oxgen", "title": columsName["oxgen"]},
                {"data": "pressurehigh", "title": columsName["pressurehigh"]},
                {"data": "pressurelow", "title": columsName["pressurelow"]},
                {"data": "longitude", "title": columsName["longitude"]},
                {"data": "latitude", "title": columsName["latitude"]},
            ];
*/            var columns = [
                {"data": "runstatus", "title": columsName["runstatus"],"createdCell":createdCellName["runstatus"]},
                {"data": "hospitalname", "title": columsName["hospitalname"],"createdCell":createdCellName["hospitalname"]},
//                {"data": "hospitalname", "title": columsName["hospitalname"],"createdCell":createdCellName["runstatus"]},
                {"data": "hospitalzone", "title": columsName["hospitalzone"],"createdCell":createdCellName["hospitalzone"]},
                {"data": "hospitalbed", "title": columsName["hospitalbed"],"createdCell":createdCellName["runstatus"]},
                {"data": "patientname", "title": columsName["patientname"],"createdCell":createdCellName["runstatus"]},
                {"data": "hospitaldeviceid", "title": columsName["hospitaldeviceid"],"createdCell":createdCellName["runstatus"]},
                {"data": "puls", "title": columsName["puls"],"createdCell":createdCellName["runstatus"]},
                {"data": "oxgen", "title": columsName["oxgen"],"createdCell":createdCellName["runstatus"]},
                {"data": "pressurehigh", "title": columsName["pressurehigh"],"createdCell":createdCellName["runstatus"]},
                {"data": "pressurelow", "title": columsName["pressurelow"],"createdCell":createdCellName["runstatus"]},
                {"data": "longitude", "title": columsName["longitude"],"createdCell":createdCellName["runstatus"]},
                {"data": "latitude", "title": columsName["latitude"],"createdCell":createdCellName["runstatus"]},
            ];

            table = createTable(columns);
//            console.log(columns);
            $("#rebulidTable").click(function () {
                    getbuildtable();
            });

            int0 = setInterval(function () {
                table.ajax.reload();
            }, 10000);
         });


        function getbuildtable(){
            var columnArr = $("input[name='allColumns']:checked");
            var columnStrIn = "";
            var columnsArray = [];
            
                //动态组装列
            $(columnArr).each(function (i, o) {
                var json = {data: null, title: null, createdCell:null};
                o = $(o);
                columnStrIn += o.val();
                if (i != columnArr.length - 1) {
                    columnStrIn += ",";
                }
                json.data = o.val();
                json.title = columsName[o.val()];
                json.createdCell = createdCellName[o.val()];
                columnsArray.push(json);
            });
            colunmsStr = columnStrIn;
               
            //改变列的结构，先销毁前面的实例
            table.destroy();
            // 列改变了，需要清空table
            $("#example").empty();
            table = createTable(columnsArray);
        };


    function getAllColumnsName(){
            $.ajax({
            type: "post",  
            url: "/api/status",
            dataType:"json",
            complete: function(msg){ 
                var jsonData = eval("("+msg.responseText+")");
             
                for (var i = 0; i < jsonData.length; i++) {
                    var li = jsonData[i][0];
                    var cli = jsonData[i][1]
                    $("#dynamicColumns").append("<li><input type='checkbox' checked name='allColumns' value='" + li + "'/>" + cli + "</li>")
                }
            }
        });
    }

    var gridInit = {
           searching: true,
           lengthChange: true,
           paging: true,
           scrollCollapse: true,
           serverSide: false,
           search: true,
           processing: false,
           scrollY: "100%",
           scrollX: "100%",
           scrollXInner: "100%",
           scrollCollapse: false,
           jQueryUI: false,
           autoWidth: true,
           autoSearch: true
       };

    
 
    //公共方法，多次初始化调用
    function createTable(columns) {
        console.log("xxx=",columns);
        return $("#example").DataTable({
            ajax: '/api/status',
            dataSrc: 'data',
            //因为需要多次初始化，所以需要设置允许销毁实例
            "destroy": true,
            //列的配置信息通过变量传进来
            "columnDefs": status,//列表状态
            "columns": columns,
            "lengthChange": gridInit.lengthChange,//是否允许用户改变表格每页显示的记录数，默认是开启
            "paging": gridInit.paging,//是否开启本地分页，默认是开启
            "processing": gridInit.processing,//是否显示中文提示
            "scrollCollapse": gridInit.scrollCollapse,  //是否开启DataTables的高度自适应，当数据条数不够分页数据条数的时候，插件高度是否随数据条数而改变
            "serverSide": gridInit.serverSide, //开启服务器模式，默认是关闭
            "scrollY": gridInit.scrollY,//设置高
            "scrollX": gridInit.scrollX,//设置宽度
            "scrollXInner": gridInit.scrollXInner,//设置内宽度
            "scrollCollapse": gridInit.scrollCollapse,//设置折叠
            "jQueryUI": gridInit.jQueryUI,//jquery 风格
            "autoWidth": gridInit.autoWidth, //是否自适应宽度
            "searching":gridInit.searching,

            "language": {
                "lengthMenu": "每页_MENU_ 条记录",
                "zeroRecords": "没有找到记录",
                "info": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
                "infoEmpty": "无记录",
                "search": "搜索：",
                "infoFiltered": "(从 _MAX_ 条记录过滤)",
                "paginate": {
                    "previous": "上一页",
                    "next": "下一页"
                }
            },
            "dom": "<'row'<'#mytool.col-sm-2'><'col-sm-4'l><'col-sm-6 text-right'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
            "initComplete": function () {
                $("#mytool").append('<button type="button" id="reload" data-toggle="modal" data-target="#statusModal">告警设置</button>'); 
 //               $("#mytool").append(dynamicColumns);
            }
        });
       
    }




    $('#statusModal').on('show.bs.modal', function (event) {  
        console.log("xxx");
    
    
    $.ajax({  
        type: "post",  
        url: "/warn/status", 
        dataType:"json",
        data: {
                    pulsmin:            $('#puls_min').val(),
                    pulsmax:            $('#puls_max').val(),
                    oxgenmin:           $('#oxgen_min').val(),
                    oxgenmax:           $('#oxgen_max').val(),
                    ressurelowmin:      $('#ressurelow_min').val(),
                    pressurelowmax:     $('#pressurelow_max').val(),
                    pressurehighmin:    $('#pressurehigh_min').val(),
                    pressurehighmax:    $('#pressurehigh_max').val(),
                    monitoraddress:     $('#monitor_address').val(),
                    monitorradius:      $('#monitor_radius').val()
        }, 
        complete: function(msg){ 
            var jsonData = eval("("+msg.responseText+")");
            console.log(jsonData.succ);    
            alert(jsonData.info);
            reload();
        }  
    });  
    $('#patientModal').modal('hide');
  
   /*      
          var button = $(event.relatedTarget); // 触发事件的按钮  
            var recipient = button.data('whatever'); // 解析出data-whatever内容  
            var modal = $(this);  
            modal.find('.modal-title2').text('患者信息更改：' + recipient);
            console.log(recipient);
            $.ajax({ 
                type: "get", 
                url: "/line/pconfig", 
                dataType:"json",
                data: {
                    deviceid:recipient,
                },
                complete: function(msg){ 
                        var jsonData = eval("("+msg.responseText+")");
                        console.log(jsonData);
                        modal.find('.modal-body #col01_filter').val(jsonData[0].Hospitalname);
                        modal.find('.modal-body #col02_filter').val(jsonData[0].Hospitalzone); 
                        modal.find('.modal-body #col03_filter').val(jsonData[0].Hospitalbed);      
                        modal.find('.modal-body #col04_filter').val(jsonData[0].Patientname);   

                        modal.find('.modal-body #col05_filter').val(jsonData[0].Patientsex);      
                        modal.find('.modal-body #col06_filter').val(jsonData[0].Patientid);   
                        modal.find('.modal-body #col07_filter').val(jsonData[0].Hospitaldeviceid);
                        modal.find('.modal-body #col08_filter').val(jsonData[0].Deviceid);
                        modal.find('.modal-body #col09_filter').val(jsonData[0].Channelid);      
                 },
            });
     */
       });

    </script>
</body>
</html>
