{{template "header"}}

  <title>HT-IOT - 信息录入</title>
  <style type="text/css">
     body {
       padding: 80px 0;
       vertical-align:middle;
       font-size: medium;
       font-family: "Microsoft YaHei", Arial, Helvetical, sans-serif, "宋体";
     }   
    </style>
</head>

<body> 
    {{template "navbar" .}}

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">  
        <div class="modal-dialog  modal-md" role="document">  
            <div class="modal-content">  
                <div class="modal-header">  
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span  
                        aria-hidden="true">×</span></button>  
                    <h4 class="modal-title" id="exampleModalLabel">患者信息添加</h4>  
                </div>  
                <div class="modal-body">  
                    <form>  
                        <hr><br>
                               <label class="col-sm-4 control-label" for = "name">医院名称</label> 
                               <div class="col-sm-8">
                                   <input type = "text" placeholder = "请医院名称" id="col1_filter"></input> 
                              </div>
                               
                               <label class="col-sm-4 control-label" for = "name">病 区 号</label> 
                               <div class="col-sm-8">
                                   <input type = "text"  id="col2_filter" placeholder = "请输入病区号" ></input> 
                               </div>
                       
                               <label class="col-sm-4 control-label" for = "name">病 床 号</label> 
                               <div class="col-sm-8">
                                   <input type = "text"  id="col3_filter" placeholder = "请输入病床号"></input> 
                               </div>
                               <hr><br><br>

                               <label class="col-sm-4 control-label" for = "name">患者姓名</label> 
                               <div class="col-sm-8"> 
                                   <input type = "text"  id="col4_filter" placeholder = "请输入患者姓名"></input> 
                               </div> 
                               <label class="col-sm-4 control-label" for = "name">患者性别</label> 
                               <div class="col-sm-8"> 
                                   <input type = "text"   id="col5_filter" placeholder = "请输入患者性别" ></input> 
                               </div> 
                               <label class="col-sm-4 control-label" for = "name">患者身份证</label> 
                               <div class="col-sm-8"> 
                                   <input type = "text"  id="col6_filter" placeholder = "请输入患者身份证" ></input> 
                               </div> 
                               <hr><br><br>
                               <label class="col-sm-4 control-label" for = "name">终 端 号</label> 
                               <div class="col-sm-8"> 
                                   <input type = "text"   id="col7_filter" placeholder = "请输入终端号" ></input> 
                               </div> 
                             </form> 
                            <hr><br><br> <br>
             
                </div>  
                <div class="modal-footer">  
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>  
                    <button type="button" class="btn btn-primary" onclick="update()">保存</button>  
                </div>  
            </div>  
        </div>  
    </div>  

    <div class="modal fade" id="patientModal" tabindex="-1" role="dialog" aria-labelledby="patientModalLabel">  
        <div class="modal-dialog  modal-md" role="document">  
            <div class="modal-content">  
                <div class="modal-header">  
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span  
                        aria-hidden="true">×</span></button>  
                    <h4 class="modal-title2" id="patientModalLabel">患者信息更改</h4>  
                </div>  
                <div class="modal-body">  
                    <form>  
                        <hr><br>
                               <label class="col-sm-4 control-label" for = "name">医院名称</label> 
                               <div class="col-sm-8">
                                   <input type = "text" placeholder = "请医院名称" id="col01_filter"></input> 
                              </div>
                               
                               <label class="col-sm-4 control-label" for = "name">病 区 号</label> 
                               <div class="col-sm-8">
                                   <input type = "text"  id="col02_filter" placeholder = "请输入病区号" ></input> 
                               </div>
                       
                               <label class="col-sm-4 control-label" for = "name">病 床 号</label> 
                               <div class="col-sm-8">
                                   <input type = "text"  id="col03_filter" placeholder = "请输入病床号"></input> 
                               </div>
                               <hr><br><br>

                               <label class="col-sm-4 control-label" for = "name">患者姓名</label> 
                               <div class="col-sm-8"> 
                                   <input type = "text" id="col04_filter" placeholder = "请输入患者姓名" name = "p_name"></input> 
                               </div> 
                               <label class="col-sm-4 control-label" for = "name">患者性别</label> 
                               <div class="col-sm-8"> 
                                   <input type = "text"  data-column="5" id="col05_filter" placeholder = "请输入患者性别" name = "p_name"></input> 
                               </div> 
                               <label class="col-sm-4 control-label" for = "name">患者身份证</label> 
                               <div class="col-sm-8"> 
                                   <input type = "text" data-column="6" id="col06_filter" placeholder = "请输入患者身份证" name = "p_name"></input> 
                               </div> 
                               <hr><br><br>
                               <label class="col-sm-4 control-label" for = "name">终 端 号</label> 
                               <div class="col-sm-8"> 
                                   <input type = "text"  data-column="7" id="col07_filter" placeholder = "请输入终端号" name = "p_device"></input> 
                               </div> 
                               <input type="text" style="display:none" id="col08_filter" name = "d_deviceid" />
                               <input type="text" style="display:none" id="col09_filter" name = "d_channelid" />

                             </form> 
                            <hr><br><br> <br>
             
                </div>  
                <div class="modal-footer">  
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>  
                    <button type="button" class="btn btn-primary" onclick="update2()">更新</button>  
                </div>  
            </div>  
        </div>  
    </div>  

     <div class="container-fluid">
        <table id="example" class="display" border="1">
            <thead>
            <tr>
                <th >医院名称</th>   
                <th>病区号</th> 
                <th>病床号</th>   
                <th>姓名</th> 
                <th>性别</th>  
               <th>终端号</th>
               <th>使用时间</th>  
               <th style="background-color: white;">操作</th> 
            </tr>
            </thead>
        </table>
    </div>



   <script type="text/javascript">

   var employee = {};
   
       employee.property = {
           version: "v1.0",
           name: "employee",
           tableId: "example",
           checkAllId: "employeeCheckAll",
           buttonId: "employeeButtonId",
           formId: "employeeForm",
           corporateFormId: "employeeForm",
           returnStatus: "SUCCESS",
           returnTitle: "操作成功",
           statusTitle: "请选择一条数据！",
           idFailure: "获取id失败",
           prompt: "提示",
           pleaseConfirm: "请确认！",
           wantToDelete: "您确定要删除吗?",
           sexMan: "男",
           sexWoman: "女",
           isTest: "是",
           noTest: "否",
           banned: "禁用",
           enable: "启用"
       };
   
       //初始化配置
   
       employee.gridInit = {
           searching: true,
           lengthChange: true,
           paging: true,
           scrollCollapse: true,
           serverSide: false,
           search: true,
           processing: false,
           scrollY: "100%",
           scrollX: "100%",
           scrollXInner: "100%",
           scrollCollapse: false,
           jQueryUI: false,
           autoWidth: true,
           autoSearch: true
       };
   

       employee.status = [
       //       {"searchable": false, "orderable": false, "targets": 0},//第一行不进行排序和搜索
       //       {defaultContent: '', targets: ['_all']} //所有列设置默认值为空字符串
            ];
   
       employee.filed = [
           {"data": "Hospitalname"},
           {"data": "Hospitalzone"},
           {"data": "Hospitalbed"},
           {"data": "Patientname"},
           {"data": "Patientsex"},
           {"data": "Hospitaldeviceid"},
           {"data": "Patiententrtime"},
           {
 /*           "data": "Deviceid",
              "createdCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).html("<button type='button' data-toggle='modal' data-target='#patientModal' data-whatever=" + sData + ">修改</button> <button class=‘btn btn-default btn-xs’ type=‘button’ name='buttonitem2' onclick='button2(" + iRow + "," + iCol + ")'>出院</button> ")
//                    $(nTd).html("<input type='button' class ='btn btn-success btn-sm' value='修改' onclick='button1(" + iRow + ")'>  <input type='button' class ='btn btn-warning btn-sm' value='出院' onclick='button2(" + iRow + ")'>")
*/
               "data": "Deviceid", 
               "createdCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).html("<button type='button'  data-toggle='modal' id='reload2' data-target='#patientModal' data-whatever="+ sData +
                    ">编辑 </button><button type='button'  id='delete' onclick='button2(" + iRow + "," + iCol + ")'>出院</button>")
                    },
                "defaultContent":" "
           },
          ];

          
       var eloancn = {};
   
       eloancn.table = {
           grid: "",
           statusTitle: "请选择一条数据！"
       };
   
     
       function dataTablesInit(elo) {
         
           eloancn.table.grid = $('#' + elo.property.tableId).DataTable({
 //               "processing": true,
                "serverSide": false,
                "ajax": {
                    "url": "/api/pconfig",
                    "type": "Get",
                    "dataType":"json",
                },     
                "destroy": true,
               "lengthChange": elo.gridInit.lengthChange,//是否允许用户改变表格每页显示的记录数，默认是开启
               "paging": elo.gridInit.paging,//是否开启本地分页，默认是开启
               "processing": elo.gridInit.processing,//是否显示中文提示
               "scrollCollapse": elo.gridInit.scrollCollapse,  //是否开启DataTables的高度自适应，当数据条数不够分页数据条数的时候，插件高度是否随数据条数而改变
               "serverSide": elo.gridInit.serverSide, //开启服务器模式，默认是关闭
               "scrollY": elo.gridInit.scrollY,//设置高
               "scrollX": elo.gridInit.scrollX,//设置宽度
               "scrollXInner": elo.gridInit.scrollXInner,//设置内宽度
               "scrollCollapse": elo.gridInit.scrollCollapse,//设置折叠
               "jQueryUI": elo.gridInit.jQueryUI,//jquery 风格
               "autoWidth": elo.gridInit.autoWidth, //是否自适应宽度
               "searching":elo.gridInit.searching,
               "columnDefs": elo.status,//列表状态
               "columns": elo.filed,//字段
//               "bSort": false,
              
                "language": {
                   "sProcessing": "处理中...",
                   "sLengthMenu": "显示 _MENU_ 项结果",
                   "sZeroRecords": "没有匹配结果",
                   "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                   "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                   "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                   "sInfoPostFix": "",
                   "sSearch": "搜索:",
                   "sUrl": "",
                   "sEmptyTable": "未搜索到数据",
                   "sLoadingRecords": "载入中...",
                   "sInfoThousands": ",",
                   "oPaginate": {
                       "sFirst": "首页",
                       "sPrevious": "上页",
                       "sNext": "下页",
                       "sLast": "末页"
                   },
                     "oAria": {
                       "sSortAscending": ": 以升序排列此列",
                       "sSortDescending": ": 以降序排列此列"
                   }
               },
//               "dom": "<'#" + elo.property.buttonId + ".col-sm-2'><'row'<'col-sm-2'lf>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
               "dom": "<'row'<'#pattool.col-sm-2'><'col-sm-2'l><'col-sm-8 text-right'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
               "initComplete": function () {
                   $("#pattool").append('<button type="button"  class="btn btn-primary" id="reload" data-toggle="modal" data-target="#exampleModal">录入新用户</button>');
                       if (elo.gridInit.search) {
                       $search = $("input[type='search']");
                       //隐藏默认的搜索框
   
 //                      $search.parent().hide();
                   }
                   //加载完成之后 初始化checkbox
   
//                   checkbox(elo.property.tableId);
   
   
                   $("#reload").click(function () {
                       reload();
                   });
   
               } 
           });
   
           //错误信息提示
   
           $.fn.dataTable.ext.errMode = function (s, h, m) {
               if (h == 1) {
                   alert("连接服务器失败！");
               } else if (h == 7) {
                   alert("返回数据错误！");
               }
           };
   
           //回调，如果返回的时候有问题提示信息
   
           eloancn.table.grid.on('xhr.dt', function (e, settings, json, xhr) {
               console.log("重新加载了数据");
               console.log(json);
           });
   
         }

//////////////////////
//选中一行 checkbox选中

function checkbox(tableId) {
        //每次加载时都先清理

        $('#' + tableId + ' tbody').off("click", "tr");
        $('#' + tableId + ' tbody').on("click", "tr", function () {
            $(this).toggleClass('selected');
            if ($(this).hasClass("selected")) {
                $(this).find("input").prop("checked", true);
            } else {
                $(this).find("input").prop("checked", false);
            }
        });


    }

    //按钮搜索方法

    function search() {

        var oSettings = "";
        $("[data-column]").each(function () {
            var filedValue = $(this).attr('data-column');
            if (filedValue != "") {
                console.log($('#col' + filedValue + '_filter').val());
                oSettings = eloancn.table.grid.column(filedValue).search(
                        $('#col' + filedValue + '_filter').val()
                );
            }
        });
        //搜索的数据一次条件，节省资源

        eloancn.table.grid.draw(oSettings);
    }

    //搜索

    function filterColumn(i) {

        eloancn.table.grid.column(i).search(
                $('#col' + i + '_filter').val()
        ).draw();
    }

    //清理搜索数据

    function clearSearch(id) {

        $("." + id).each(function () {
            $(this).val("");
        });
        //清空查询条件重新读取数据

        eloancn.table.grid.columns().search("").draw();
    }

    //获取所有选中行的UUID

    function batchIds() {

        var uuid = '';
        var uuids = eloancn.table.grid.rows(".selected").data();
        if (uuids.length == 0) {
            alert(eloancn.table.statusTitle);
        } else {
            for (var i = 0; i < uuids.length; i++) {
                uuid = uuid + uuids[i].extn + ",";
            }
            alert(uuid);
        }
    }

    //单选

    function selection() {

        if (eloancn.table.grid.rows(".selected").data().length == 1) {
            var uuid = eloancn.table.grid.row(".selected").data().extn;

            if (uuid == "") {
                alert(eloancn.table.statusTitle);
            } else {
                alert(uuid);
            }

        } else {
            alert(eloancn.table.statusTitle);
        }
    }

    
       //重新加载数据
   
       function reload() {
           eloancn.table.grid.ajax.reload();
       }
       //销毁table
   
       function destroyDataTable(tableId) {
   
           var dttable = $('#' + tableId).DataTable();
           alert (dettable);
           dttable.destroy();
       }
     
        $(document).ready(function(){
              dataTablesInit(employee);
        });

        
        $('#exampleModal').on('show.bs.modal', function (event) {  
           var button = $(event.relatedTarget); // 触发事件的按钮  
            var recipient = button.data('whatever'); // 解析出data-whatever内容  
            var modal = $(this);  
 
           modal.find('.modal-title').text('添加新患者信息：')  
//            modal.find('.modal-body #name3').val(recipient)  
//            modal.find('.modal-body input').val(recipient)  
        });


        //添加新用户，需要做一致性检查  
    function update() {  
        $.ajax({  
            type: "post",  
            url: "/api/pconfig", 
            dataType:"json",
            data: {
                hospitalname:$('#col1_filter').val(),
                hospitalzone :$('#col2_filter').val(),
                hospitalbed:$('#col3_filter').val(),
                patientname:$('#col4_filter').val(),
                patientsex:$('#col5_filter').val(),
                patientid:$('#col6_filter').val(),
                hospitaldeviceid:$('#col7_filter').val()    
            }, 
            complete: function(msg){ 
                var jsonData = eval("("+msg.responseText+")");
                console.log(jsonData.succ);    
                alert(jsonData.info);
                reload();
            }  
        }); 
        $('#exampleModal').modal('hide');
    };

    $('#patientModal').on('show.bs.modal', function (event) {  
        var button = $(event.relatedTarget); // 触发事件的按钮  
        var recipient = button.data('whatever'); // 解析出data-whatever内容  
        var modal = $(this);  
        modal.find('.modal-title2').text('患者信息更改：' + recipient);
        console.log(recipient);
        $.ajax({ 
            type: "get", 
            url: "/line/pconfig", 
            dataType:"json",
            data: {
                deviceid:recipient,
            },
            complete: function(msg){ 
                var jsonData = eval("("+msg.responseText+")");
                console.log(jsonData);
                modal.find('.modal-body #col01_filter').val(jsonData[0].Hospitalname);
                modal.find('.modal-body #col02_filter').val(jsonData[0].Hospitalzone); 
                modal.find('.modal-body #col03_filter').val(jsonData[0].Hospitalbed);      
                modal.find('.modal-body #col04_filter').val(jsonData[0].Patientname);   

                modal.find('.modal-body #col05_filter').val(jsonData[0].Patientsex);      
                modal.find('.modal-body #col06_filter').val(jsonData[0].Patientid);   
                modal.find('.modal-body #col07_filter').val(jsonData[0].Hospitaldeviceid);
                modal.find('.modal-body #col08_filter').val(jsonData[0].Deviceid);
                modal.find('.modal-body #col09_filter').val(jsonData[0].Channelid);      
            },
        });
    });

function update2() {  
    var buttonp = $("#reload2"); // 触发事件的按钮  
    var recipient = buttonp.data('whatever'); // 解析出data-whatever内容 

     console.log(buttonp);  
    console.log(recipient);
    
    $.ajax({  
        type: "post",  
        url: "/line/pconfig", 
        dataType:"json",
        data: {
                  
                    hospitalname:   $('#col01_filter').val(),
                    hospitalzone:   $('#col02_filter').val(),
                    hospitalbed:    $('#col03_filter').val(),
                    patientname:    $('#col04_filter').val(),
                    patientsex:     $('#col05_filter').val(),
                    patientid:      $('#col06_filter').val(),
                    hospitaldeviceid:$('#col07_filter').val(),
                    deviceid:       $('#col08_filter').val(),
                    channelid:       $('#col09_filter').val()
        }, 
        complete: function(msg){ 
            var jsonData = eval("("+msg.responseText+")");
            console.log(jsonData.succ);    
            alert(jsonData.info);
            reload();
        }  
    });  
    $('#patientModal').modal('hide');
};

  
</script> 
</body>
</html>